<%- layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">New spot:</h1>

  <div class="col-6 offset-3">
    <form
      method="POST"
      action="/attractions"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="newAttractionName" class="form-label">Name</label>
        <input
          type="text"
          id="newAttractionName"
          name="newAttraction[name]"
          placeholder="Enter Site Name"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="newAttractionDescription" class="form-label"
          >Description</label
        >
        <br />
        <textarea
          name="newAttraction[description]"
          id="newAttractionDescription"
          placeholder="Enter details about the site here"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="newAttractionLocation" class="form-label">City</label>
        <input
          type="text"
          id="newAttractionLocation"
          name="newAttraction[location]"
          placeholder="eg. Mumbai"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">Image Upload</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="formFileMultiple"
          multiple
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
    <a href="/attractions">Cancel</a>
  </div>
</div>
