<%- layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-4 offset-4">
    <h1 class="text-center">Home Page</h1>
    <p>
      Meri behen mereko daat rahi thi is liye maine ye chota sa home page bana
      diya
    </p>
    <p>isme anek features daale hai maine</p>
    <p>jaise ki ye smiley face</p>
    <img
      class="img-fluid"
      src="https://images.vexels.com/media/users/3/325213/isolated/preview/c52fc3523ce9a94e0a75edeb1d806c9e-yellow-smiley-face.png"
      alt=""
    />
  </div>
</div>
